@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0, 0, 0%;

    /* #8578E6; */
    --primary: 252, 53%, 65%;

    /* #665DAC; */
    --primary-foreground: 260, 28%, 46%;

    /* #F8F4F0; */
    --secondary: 30, 64%, 96%;

    /* #FCF9F5; */
    --secondary-foreground: 30, 26%, 94%;

    /* #FCF9F5; */
    --tertiary: 30, 64%, 96%;

    --input: 0 0% 100%;
    --input-invert: 0, 0, 0%;

    --ring: 30, 23%, 92%;

    --radius: 1.125rem;
  }

  .dark {
    --background: 0, 0, 0%;
    --foreground: 0 0% 100%;

    /* #8578E6; */
    --primary: 252, 53%, 65%;

    /* #665DAC; */
    --primary-foreground: 260, 28%, 46%;

    /* #32313B; */
    --secondary: 255, 4%, 18%;

    /* #222126; */
    --secondary-foreground: 270, 4%, 13%;

    --tertiary: 30, 64%, 96%;

    --input: 270, 4%, 13%;
    --input-invert: 0, 0, 100%;
  }
}
